@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
html {
  scroll-behavior: smooth;
  font-family: 'Poppins', serif;
}

.custom-pagination {
  @apply mt-5 flex justify-center gap-[10px];
}

.custom-pagination .dot {
  transition: background-color 0.3s ease;
  @apply !size-[10px] cursor-pointer rounded-full bg-[#CBCBCB];
}

.custom-pagination .dot-active {
  @apply bg-secondary;
}

.custom-pagination .dot-active:hover {
  @apply scale-110 bg-opacity-75 duration-300;
}

.wrapper {
  padding-bottom: 60px !important;
}
input[type='checkbox'],
input[type='radio'] {
  accent-color: #253466;
}
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.active_sidebar_link svg g path,
.active_sidebar_link svg path {
  fill: white !important;
}
.text-gradient {
  @apply bg-[linear-gradient(94.11deg,#253466_-59.85%,#200A5B_-14.49%,#E5413F_121.27%)] bg-clip-text font-bold text-[transparent];
}
.blur_17{
  backdrop-filter: blur(17.299999237060547px)
}
.bg-size-100{
  background-size: 100% 100%;
}
